*.swp
*.tags
*.tags_sorted_by_file
*.sublime-project
*.sublime-workspace
.DS_Store
._.DS_Store
other/open-audit.log
other/log_access.log
other/log_debug.log
other/log_system.log
code_igniter/application/controllers/admin_test_private.php
www/open-audit/custom_images/*.jpg
www/open-audit/custom_images/*.png
._*
.idea
