/**
#  Copyright 2022 Firstwave (www.firstwave.com)
#
#  This file is part of Open-AudIT.
#
#  Open-AudIT is free software: you can redistribute it and/or modify
#  it under the terms of the GNU Affero General Public License as published
#  by the Free Software Foundation, either version 3 of the License, or
#  (at your option) any later version.
#
#  Open-AudIT is distributed in the hope that it will be useful,
#  but WITHOUT ANY WARRANTY; without even the implied warranty of
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#  GNU Affero General Public License for more details.
#
#  You should have received a copy of the GNU Affero General Public License
#  along with Open-AudIT (most likely in a file named LICENSE).
#  If not, see <http://www.gnu.org/licenses/>
#
#  For further information on Open-AudIT or for a license other than AGPL please see
#  www.firstwave.com or email sales@firstwave.com
#
# *****************************************************************************
* @author Mark Unwin <mark.unwin@firstwave.com>
*
* @version   GIT: Open-AudIT_4.4.1
* @copyright Copyright (c) 2022, Firstwave
* @license http://www.gnu.org/licenses/agpl-3.0.html aGPL v3
*/

html {
	font-size: 16px;
}

body {
	/* font-size: 14px; */
	background-color:#f0f0f0;
	color: #16325c;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-size: 14px;
}

.navbar-brand {
	font-size: 1rem;
}

.dropdown-menu {
	font-size: 14px;
}

.dropdown-item {
	color: #16325c;
}

.card-header {
	padding-bottom: 2px;
}

.link-secondary {
	color: #2980b9;
}

.breadcrumb > li:last-child > a {
	color: #999 !important;
}

.second-nav {
	background: #FFFFFF;
	box-shadow: 0px 1px 4px 0px #ddd;
	color: #354052;
	font-size: 14px;
}

.btn {
	font-weight: 100;
}

/* to right align the carets in the menus */
.first-level-dropdown-toggle::after {
	position: absolute;
	left: 80%;
	margin-top: 0.7em;
	color:  #aaa;
	transform: rotate(270deg);
}

/* to right align the carets in the menus */
.second-level-dropdown-toggle::after {
	position: absolute;
	left: 90%;
	margin-top: 0.7em;
	color:  #aaa;
	transform: rotate(270deg);
}

.form-control:disabled {
	color: #6c757d;
}

.form-control {
	color: #16325c;
}

.bg-primary {
	background-color: #3bafda !important;
  }

.form-select {
	color: #16325c;
}

.form-label {
	font-weight: 100;
}

.edit_button {
	border: 1px solid rgba(0,0,0,.125);
	background-color: #e9ecef;
}

.oa-icon {
	margin-right: 10px;
}

.oa-card-button {
	border: 0px;
}

.col-xs-1 {
	width: 8.33%;
}


.btn-devices, .btn-devices:active, .btn-devices.active, .btn-devices.disabled, .btn-devices[disabled] {
	background-color: #8cc152;
	border-color: #8cc152;
	color: #fff;
}
.btn-devices:hover, .btn-devices:focus {
	background-color: #a0d468;
	border-color: #a0d468;
	color: #fff;
}
.open .dropdown-toggle.btn-devices {
	background-color: #8cc152;
	border-color: #8cc152;
	color: #fff;
}



.btn-default {
	color: #434a54;
	border-color: #aab2bd !important;
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active {
	background-color: #ccd1d9;
	border-color: #ccd1d9;
}
.btn-default, .btn-default.disabled, .btn-default[disabled] {
	background-color: white;
}



.btn-primary, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
	background-color: #3bafda;
	border-color: #3bafda;
}
.btn-primary:hover, .btn-primary:focus {
	background-color: #4fc1e9;
	border-color: #4fc1e9;
}
.open .dropdown-toggle.btn-primary {
	background-color: #4fc1e9;
	border-color: #4fc1e9;
}



.btn-danger, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled],
.btn-danger .open .dropdown-toggle.btn {
	background-color: #da4453;
	border-color: #da4453;
}
.btn-danger:hover, .btn-danger:focus {
	background-color: #ed5565;
	border-color: #ed5565;
}
.open .dropdown-toggle.btn-danger {
	background-color: #ed5565;
	border-color: #ed5565;
}



.btn-success, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] {
	background-color: #8cc152;
	border-color: #8cc152;
}
.btn-success:hover, .btn-success:focus {
	background-color: #a0d468;
	border-color: #a0d468;
}
.open .dropdown-toggle.btn-success {
	background-color: #a0d468;
	border-color: #a0d468;
}



.btn-info, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
	background-color: #37bc9b;
	border-color: #37bc9b;
}
.btn-info:hover, .btn-info:focus {
	background-color: #48cfad;
	border-color: #48cfad;
}
.open .dropdown-toggle.btn-info {
	background-color: #48cfad;
	border-color: #48cfad;
}





/* dataTables pagination colour */
.page-item.active .page-link {
	/*
	background-color: #CCD1D9;
	border-color: #AAB2BD;
	*/
	/* green */
	background-color: #8CC152;
	border-color: #8CC152;
}

.panel-button {
	border: 1px solid rgba(0,0,0,.125);
}

a.greyout {
	color: #adb5bd;
}


.form_label {
	color:  lightslategrey;
	margin: 0 0 0px 0;
	font-size:  1rem;
}
.text_content {
	color: #16325c;
	margin: 0 0 0 4px;
	font-size:  1.2rem;
	font-weight: 100;
}
.form_bottom {
	margin: 0 0 1rem 0;
}
.edit_org {
	color: lightslategrey;
	font-size:  1.2rem;
}
.edit_org:hover {
	color: rgba(0, 0, 0, 1);
	cursor:  pointer;
}
.edit {
	color: lightslategrey;
	font-size:  1.2rem;
}
.edit:hover {
	color: rgba(0, 0, 0, 1);
	cursor:  pointer;
}
a {
	text-decoration:  none;
	color: #3bafda;
}
.btn-outline-secondary {
	color: #16325c;
  }